.contact-class{
    background-image: url('../../../assets/img/contact_us_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

agm-map{
    height: 40vh;
}