<div class="main-header pt-5 purple-gradient d-flex align-items-center">
    <div class="container">
        <h1 class="text-center animated bounce text-white display-4">Services</h1>
    </div>
</div>

<!--###################           OUR EXPERTISE           ######################3-->
<div class="" style="background-color: #f8f9fa;">
    <div class="container">
        <h1 class="text-center py-4">Our Expertise</h1>
        <p class="lead">iOS & Android Application Development, Website Designing & Development, Game Development, SEO, 3D Design & 3D Modeling, 2D & 3D Logo
            Animation, Digital Marketing, Data Entry.
        </p>
        <div class="row py-4">
            <div class="col-md-4 mx-auto">
                <div class="row text-center">
                    <div class="col-4">
                        <span class=""><i class="fa fa-apple rounded-circle p-2" style="font-size: 2rem; color: black; background-color: #FBBA00; width: 3rem; "></i></span>
                    </div>
                    <div class="col-4">
                        <span class=""><i class="fa fa-android rounded-circle p-2" aria-hidden="true" style="font-size: 2rem; color: black; background-color: #FBBA00; width: 3rem; "></i></span>
                    </div>
                    <div class="col-4">
                        <span class=""><i class="fa fa-globe rounded-circle p-2" style="font-size: 2rem; color: black; background-color: #FBBA00; width: 3rem; "></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           TECHNOLOGY STACK          ######################3-->
<div class="services-background-1">
    <div class="container">
        <h1 class="text-center pt-5 text-dark">Technology Stack</h1>
        <div class="row py-2">
            <div class="col-md-2 col-6 rounded view overlay">
                <img src="../../../assets/img/001.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>ASP.NET</strong> is server side web application framework, used for building dynamic web pages.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 rounded view overlay">
                <img src="../../../assets/img/002.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>React</strong> is a front end, JS library for building UI, UI components and SPAs.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 rounded view overlay">
                <img src="../../../assets/img/003.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>Unity</strong> is a cross-platform game engine.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 rounded view overlay">
                <img src="../../../assets/img/004.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>Laravel</strong> is a PHP web framework, used for building web-applications in MVC architecture.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 rounded view overlay">
                <img src="../../../assets/img/005.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>JS</strong> is a high-level, just-in-time compiled and multi-paradign programming language.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 rounded view overlay">
                <img src="../../../assets/img/006.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>PHP</strong> is a general-purpose server-side scripting language especially suited to web development.</p>
                </div>
            </div>
        </div>
        <div class="row pt-2 pb-5">
            <div class="col-md-2 col-6 mx-auto rounded view overlay">
                <img src="../../../assets/img/007.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>WordPress</strong> is a free, open-source CMS written in PHP and paired with a MySQL/MariaDB database.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 mx-auto rounded view overlay">
                <img src="../../../assets/img/008.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>Angular</strong> is a TypeScript based front-end framework, used for building scalable web-applications.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 mx-auto rounded view overlay">
                <img src="../../../assets/img/009.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>Java</strong> is a class-based, object-oriented programming language.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 mx-auto rounded view overlay">
                <img src="../../../assets/img/010.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>Android</strong> is a mobile OS, designed primarily for touchscreen mobile devices such as smartphones and tablets.</p>
                </div>
            </div>
            <div class="col-md-2 col-6 mx-auto rounded view overlay">
                <img src="../../../assets/img/011.png" class="p-5 w-100" alt="">
                <div class="mask flex-center rgba-stylish-strong">
                    <p class="p-3 white-text text-center" style="font-size: 15px;"><strong>iOS</strong> is a mobile OS, that powers devices such as iPhones, iPod Touch.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           DESIGN           ######################3-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-5 text-white rounded" style="background-color: #4D4D4D;">
            <h1>Design</h1>
            <p class="lead pt-5">2D & 3D Logo Animation</p>
            <p class="lead">3D Modeling & 3D Designs</p>
            <p class="lead">Graphic</p>
            <p class="lead">Ads.</p>
        </div>
        <div class="col-md-8 text-center">
            <div class="card border-0">
                <div class="card-body">
                    <img src="../../../assets/img/side_cover-01.jpg" class="card-img-top w-50" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           DIGITAL MARKETING           ######################3-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card border-0">
                <div class="card-body text-center">
                    <img src="../../../assets/img/side_cover-04.png" class="card-img-top w-25"  alt="">
                </div>
            </div>
        </div>
        <div class="col-md-8 p-5 text-white rounded" style="background-color: #FBBA00;">
            <h1>Digital Marketing</h1>
            <h3 class="pt-5">Social Media Marketing</h3>
            <p class="pt-2">Facebook Marketing</p>
            <p class="">Instagram Marketing</p>
            <p class="">Linkedin Marketing</p>
            <p class="">Twitter Marketing</p>
            <p class="">Youtube Marketing</p>
            <h3 class="pt-5">Paid Compaigning Marketing</h3>
            <p class="pt-2">Google Ads</p>
            <p>Facebook Ads</p>
            <p>Instagram Ads</p>
            <p>Youtube Ads</p>
            <p>Twitter Ads</p>
            <p>Linkedin Ads</p>
        </div>
    </div>
</div>

<!--###################           WEB DEVELOPMENT           ######################3-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-5 text-white rounded" style="background-color: #4D4D4D;">
            <h1>Website Development</h1>
            <p class="lead pt-5">eCommerce Website</p>
            <p class="lead">Business Website</p>
            <p class="lead">Entertainment Website</p>
            <p class="lead">Portfolio Website</p>
            <p class="lead">Media Website</p>
            <p class="lead">Brouchure Website</p>
            <p class="lead">Non Profit Website</p>
            <p class="lead">Educational Website</p>
            <p class="lead">Infopreneur Website</p>
            <p class="lead">Personal Website</p>
            <p class="lead">Web Portal Website</p>
            <p class="lead">Wiki or Community Forum Website</p>
        </div>
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <img src="../../../assets/img/side_cover-02.png" class="card-img-top" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           APP & GAME DEVELOPMENT           ######################3-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-0">
                <div class="card-body">
                    <img src="../../../assets/img/side_cover-03.png" class="card-img-top" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6 p-5 text-white rounded" style="background-color: #FBBA00;">
            <h1>Application & Game Development</h1>
            <h3 class="pt-5">Android & iOS Applications Development</h3>
            <p class="pt-2">Game Development for Android & iOS, Windows based platforms.</p>
        </div>
    </div>
</div>
