<div class="container-fluid peach-gradient">
    <div class="row p-5">
        <div class="col-md-3 p-5">
            <div class="card p-5 bg-transparent">
                <div class="view overlay">
                    <img src="../../../assets/img/logo.png" class="card-img-top" alt="Card image cap">
                    <a routerLink="/home">
                        <div class="mask rgba-yellow-slight"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4 class="py-2">Quick Links</h4>
            <div class="list-menu pt-2">
                <div class="list-item py-1">
                    <a routerLink="/home" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> Home</a>
                </div>
                <div class="list-item py-1">
                    <a routerLink="/services" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> Services</a>
                </div>                
                <div class="list-item py-1">
                    <a routerLink="/about-us" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> About Us</a>
                </div>
                <div class="list-item py-1">
                    <a routerLink="/contact-us" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4 class="py-2">Important Links</h4>
            <div class="list-menu pt-2">
                <div class="list-item py-1">
                    <a routerLink="/" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> Projects</a>
                </div>
                <div class="list-item py-1">
                    <a routerLink="/service" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> Clients</a>
                </div>                
                <div class="list-item py-1">
                    <a routerLink="/privacy-policy" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> Privacy Policies</a>
                </div>
                <div class="list-item py-1">
                    <a routerLink="/terms-and-conditions" class="footer-menu-link"><span><i class="fas fa-angle-right pr-3"></i></span> Terms & Conditions</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h4 class="py-2">Get In Touch</h4>
            <div class="list-menu pt-2">
                <div class="list-item py-1">
                    <a href="https://maps.google.com/?q=26.839350,75.794625" class="footer-menu-link" target="_blank" rel="noopener noreferrer"><span><i class="fa fa-map-pin pr-3"></i></span> 510, Jaipur Centre, Jaipur</a>
                </div>
                <div class="list-item py-1">
                    <span><i class="fa fa-envelope-square pr-3"></i></span>
                    <a href="mailto:infodginfotechindia@gmail.com" class="footer-menu-link" target="_blank" rel="noopener noreferrer">infodginfotechindia@gmail.com</a>
                </div>                
                <div class="list-item py-1">
                    <a href="tel:+919116755039" class="footer-menu-link" target="_blank" rel="noopener noreferrer"><span><i class="fa fa-phone pr-3"></i></span>+91 91167 55039</a>
                </div>
                <div class="list-item py-1">
                    <a href="https://wa.me/919116755039?text=I%20want%20to%20start%20a%20project%20with%20your%20company" class="footer-menu-link" target="_blank" rel="noopener noreferrer"><span><i class="fa fa-whatsapp pr-3"></i></span> WhatsApp</a>
                </div>
                <div class="list-item row text-center py-3">
                    <div class="col-3">
                        <a href="https://www.facebook.com/dginfotechindia" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f p-2" style="border-color:black; border-radius: 50%; border-style: dashed; color: blue;"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.linkedin.com/company/dg-infotech-1/?viewAsMember=true" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in p-2" style="border-color:black;  border-radius: 50%; border-style: dashed; color: darkcyan;"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="https://www.instagram.com/infotechdg/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram p-2" style="border-color:black;  border-radius: 50%; border-style: dashed; color: red;"></i></a>
                    </div>
                    <div class="col-3">
                        <a href="https://twitter.com/InfotechDg" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter p-2" style="border-color:black;  border-radius: 50%; border-style: dashed; color: aquamarine;"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row p-3 bg-dark text-white">
        <div class="mx-auto">
            Copyright <span> <i class="far fa-copyright px-1"></i></span> 2020 DG InfoTech | Powered by DG InfoTech 
        </div>
    </div>
</div>