<div class="main-header d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col text-center text-white">
                <div class="h1">DG InfoTech is <span id='name'></span> Company</div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="text-center text-white display-4 new-text">Largest Students In The World</div>
        <h6 class="text-center text-white py-2">You can teach anything, you want.</h6>

        <div class="row rounded text-secondary">
            <div class="col-md-4 mx-auto  m-2 bg-white rounded normal-white">Where are you looking for?</div>
            <div class="col-md-3 mx-auto  m-2 bg-white rounded">hi</div>
            <div class="col-md-3 mx-auto  m-2 bg-white rounded">hi</div>
            <div class="col-md-1 mx-auto m-2 rounded text-center">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </div> -->
</div>



<!--###################           HOW WE CAN HELP YOU?           ######################3-->
<div class="container-fluid" style="background-color: #f8f9fa;">
    <h1 class="pt-5 text-center">How We Can Help You?</h1>
    <hr style="background-color: #FBBA00; height: 1px; width: 10rem;">
    <p class="pt-3 text-muted text-center">We offer a variety of services including : </p>
    <p class="text-muted text-center">Professional Development, Professional Management, Fast Coding, Testing and Bug Fixing, Documentation</p>

    <div class="container">
        <div class="row pb-5">
            <div class="col-md-3 pt-3">
                <div class="card border-0 rounded shadow">
                    <img src="../../../assets/img/home-design.jpg" alt="" class="card-img-top rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10 mr-auto">
                                <p class="price-round text-center">Design</p>
                            </div>
                            <div class="col-2 ml-auto">
                                <i class="fa fa-heart" style="color: #FBBA00" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="text-muted">2D & 3D Logo Animation, 3D Modeling & 3D Designs, Graphic, Ads</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <div class="card border-0 rounded shadow">
                    <img src="../../../assets/img/home-digital-marketing.jpg" alt="" class="card-img-top rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10 mr-auto">
                                <p class="price-round text-center">Digital Marketing</p>
                            </div>
                            <div class="col-2 ml-auto">
                                <i class="fa fa-heart" style="color: #FBBA00" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="text-muted">Social Media Marketing, Paid Compaigning Marketing</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <div class="card border-0 rounded shadow">
                    <img src="../../../assets/img/home-web.jpg" alt="" class="card-img-top rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10 mr-auto">
                                <p class="price-round text-center">Web Development</p>
                            </div>
                            <div class="col-2 ml-auto">
                                <i class="fa fa-heart" style="color: #FBBA00" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="text-muted">eCommerce, Business, Media, Educational Websites and Many More</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pt-3">
                <div class="card border-0 rounded shadow">
                    <img src="../../../assets/img/home-app.jpg" alt="" class="card-img-top rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10 mr-auto">
                                <p class="price-round text-center">Apps & Game</p>
                            </div>
                            <div class="col-2 ml-auto">
                                <i class="fa fa-heart" style="color: #FBBA00" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="text-muted">Android & iOS App Developmant, Game Development</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           POPULAR PRODUCTS           ######################3-->
<div class="container">
    <h1 class="text-center pt-5">Popular Products</h1>
    <hr style="background-color: #FBBA00; height: 1px; width: 10rem;">
    <p class="pt-3 text-muted text-center">Only Products That You Have To See Before Working With Us</p>

    <div class="row">
        <div class="col-md-4 py-1">
            <div class="shadow-lg card popular-product-1 border-0 rounded view overlay">
                <div class="card-body d-flex align-items-end ">
                    <div class="container">
                        <div class="row p-2 text-center">
                            <div class="col-8 name-round text-white">Logo & 3D Designs</div>
                        </div>
                        <h4 class="text-white">Designing</h4>
                        <h6 class="text-muted">DG InfoTech</h6>
                    </div>
                </div>
                <div class="mask rgba-yellow-strong">
                    <div class="row p-5">
                        <div class="col-12 text-center">
                            <p class="lead">Best design solution for your business</p>
                        </div>
                        <div class="col-12 text-center lead">
                            <a routerLink="" class="text-dark"><span><i class="far fa-arrow-alt-circle-right"></i>View</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="shadow-lg card popular-product-2 border-0 rounded view overlay">
                <div class="card-body d-flex align-items-end">
                    <div class="container">
                        <div class="row p-2 text-center">
                            <div class="col-8">
                                <div class="name-round text-white">Digital Marketing</div>
                            </div>
                        </div>
                        <h4 class="text-white">Social Media Profiles</h4>
                        <h6 class="text-muted">DG InfoTech</h6>
                    </div>
                </div>
                <div class="mask rgba-yellow-strong">
                    <div class="row p-5">
                        <div class="col-12 text-center">
                            <p class="lead">Best marketing solution for your business</p>
                        </div>
                        <div class="col-12 text-center lead">
                            <a routerLink="" class="text-dark"><span><i class="far fa-arrow-alt-circle-right"></i>View</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="shadow-lg card popular-product-3 border-0 rounded view overlay">
                <div class="card-body d-flex align-items-end">
                    <div class="container">
                        <div class="row p-2 text-center">
                            <div class="col-8">
                                <div class="name-round text-white">Web Development</div>
                            </div>
                        </div>
                        <h4 class="text-white">Building Websites</h4>
                        <h6 class="text-muted">DG InfoTech</h6>
                    </div>
                </div>
                <div class="mask rgba-yellow-strong">
                    <div class="row p-5">
                        <div class="col-12 text-center">
                            <p class="lead">Best web solution for your business</p>
                        </div>
                        <div class="col-12 text-center lead">
                            <a routerLink="" class="text-dark"><span><i class="far fa-arrow-alt-circle-right"></i>View</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 py-3">
        <div class="col-md-6 py-1">
            <div class="shadow-lg card popular-product-4 border-0 rounded view overlay">
                <div class="card-body d-flex align-items-end">
                    <div class="container">
                        <div class="row p-2 text-center">
                            <div class="col-5">
                                <div class="name-round text-white">Apps Development</div>
                            </div>
                        </div>
                        <h4 class="text-white">Building Android & iOS Apps</h4>
                        <h6 class="text-muted">DG InfoTech</h6>
                    </div>
                </div>
                <div class="mask rgba-yellow-strong">
                    <div class="row p-5">
                        <div class="col-12 text-center">
                            <p class="lead">Best application solution for your business</p>
                        </div>
                        <div class="col-12 text-center lead">
                            <a routerLink="" class="text-dark"><span><i class="far fa-arrow-alt-circle-right"></i>View</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 py-1">
            <div class="shadow-lg card popular-product-5 border-0 rounded view overlay">
                <div class="card-body d-flex align-items-end">
                    <div class="container">
                        <div class="row p-2 text-center">
                            <div class="col-5">
                                <div class="name-round text-white">Games</div>
                            </div>
                        </div>
                        <h4 class="text-white">Game Development for Android & iOS</h4>
                        <h6 class="text-muted">DG InfoTech</h6>
                    </div>
                </div>
                <div class="mask rgba-yellow-strong">
                    <div class="row p-5">
                        <div class="col-12 text-center">
                            <p class="lead">Best gaming solution for your business</p>
                        </div>
                        <div class="col-12 text-center lead">
                            <a routerLink="" class="text-dark"><span><i class="far fa-arrow-alt-circle-right"></i>View</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           RELATED BLOGS           ######################3-->
<div class="container-fluid aqua-gradient p-5">
    <h1 class="text-center">Related Blogs</h1>
    <hr style="background-color: #FBBA00; height: 1px; width: 10rem;">
    <p class="pt-3 text-muted text-center">Get to know about recent technologies and how these technologies are helping businesses to grow quicker
    </p>

    <div class="row p-5">
        <div class="col-md-4 py-1">
            <div class="card">
                <img src="../../../assets/img/blog-img-1.jpg" alt="" class="card-img-top">
                <div class="card-body card-body-cascade text-center">
                    <p class="">How Digital Marketing Help Your Business To Grow</p>
                    <button routerLink="/blog-1" class="btn btn-match py-2">Read more...</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="card">
                <img src="../../../assets/img/blog-img-2.jpg" alt="" class="card-img-top">
                <div class="card-body card-body-cascade text-center">
                    <p class="">Do You Know Business Leader Uses Their Apps To Make Profit</p>
                    <button routerLink="/blog-2" class="btn btn-match py-2">Read more...</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-1">
            <div class="card">
                <img src="../../../assets/img/blog-img-3.jpg" alt="" class="card-img-top">
                <div class="card-body card-body-cascade text-center">
                    <p class="">Perfect Business Website That Suits Every Business</p>
                    <button routerLink="/blog-3" class="btn btn-match py-2">Read more...</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           PROFESSIONAL IMAGES           ######################3-->
<div class="container-fluid">
    <h1 class="text-center pt-5">Having Professionalism is the Key to Success</h1>
    <hr style="background-color: #FBBA00; height: 1px; width: 10rem;">
    <p class="pt-3 text-muted text-center">Professionalism is all about having passionate towards your aim all the time</p>

    <div class="row pb-5">
        <div class="col-md-8 p-3 view zoom">
            <img src="../../../assets/img/pro-img-1.jpg" class="img-fluid" alt="professional image">
            <a routerLink="/services">
                <div class="mask"></div>
            </a>
        </div>
        <div class="col-md-4 p-3">
            <div class="row">
                <div class="col-12 view zoom">
                    <img src="../../../assets/img/pro-img-3.jpg" class="img-fluid" alt="professional image">
                    <a routerLink="/services">
                        <div class="mask"></div>
                    </a>
                </div>
                <div class="col-12 pt-2 view zoom">
                    <img src="../../../assets/img/pro-img-2.jpg" class="img-fluid" alt="professional image">
                    <a routerLink="/services">
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--###################           WHO WE HAVE WORKED WITH           ######################3-->
<div class="container-fluid pb-5">
    <h1 class="pt-5 text-center">Who We've Worked With</h1>
    <hr style="background-color: #FBBA00; height: 1px; width: 10rem;">
    <div class="container">
        <div class="work-slider">
            <img src="../../../assets/img/vlive india.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/vlive_infotech.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/vlive sec.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/eagle logo.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/govindam college logo.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/govindam defence.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/kalam sikar logo.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/monitors logo.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/oxigen.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/prayas (1).jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/startup.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/the haritimma.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/virat.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/abhiprerana.jpg" alt="" class="img-fluid">
            <img src="../../../assets/img/woe.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>

<!--###################           EVERYTHING YOU NEED TO KNOW ABOUT US           ######################3-->
<div class="jumbotron bg-light">
    <h1 class="text-center">Everything You Need To Know About Us</h1>
    <hr style="background-color: #FBBA00; height: 1px; width: 10rem;">
    <p class="container pt-3">DG InfoTech India Private Limited is dynamic, reliable and truly professional company. We always strive to get our customers to be fully
        satisfied not only by developing high- quality solutions within prescribed time and budget, but by full involvement into projects working
        together with our customers to make the business success of their projects. Professional Development, Professional Management, Fast Coding, Testing and Bug
        Fixing, Documentation. Best Service, Fast Response, Full Time Availability, Best Quality, And List Goes On. Always Ready For You, Just Message Us.
        </p>
</div>