.main-header{
    background-image:linear-gradient(to right,grey 10%,grey 100%), url('../../../assets/img/background.jpg');
    background-blend-mode: multiply;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.new-text{
    background:  -webkit-radial-gradient(white,green);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.new-card:hover{
    box-shadow: 0px 5px 15px 0px rgba(0,255,0,0.5);
    transition: all 0.3s ease-in-out;
}
.price-round{
    border-radius: 15px;
    background:#d9d9d9;
}
.popular-product-1{
    background-image: linear-gradient(to right, grey 10%, grey 100%),url('../../../assets/img/popular-product-1.jpeg');
    background-blend-mode: multiply;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.popular-product-2{
    background-image: linear-gradient(to right, grey 10%, grey 100%),url('../../../assets/img/popular-product-2.jpg');
    background-blend-mode: multiply;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.popular-product-3{
    background-image: linear-gradient(to right, grey 10%, grey 100%),url('../../../assets/img/popular-product-3.jpg');
    background-blend-mode: multiply;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.popular-product-4{
    background-image: linear-gradient(to right, grey 10%, grey 100%),url('../../../assets/img/popular-product-4.jpg');
    background-blend-mode: multiply;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.popular-product-5{
    background-image: linear-gradient(to right, grey 10%, grey 100%),url('../../../assets/img/popular-product-5.jpg');
    background-blend-mode: multiply;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.name-round{
    border-radius: 15px;
    background: #FBBA00;
}