<div class="main-header pt-5 blue-gradient d-flex align-items-center">
    <div class="container">
        <h1 class="h1 text-center animated bounce text-white display-4 new-text">Privacy Policies</h1>
    </div>
</div>

<div class="jumbotron">
    <div class="container text-justify">
        <div class="h2 pt-3">Who We Are</div>
        <p class="lead">Our web site address is http://dginfotechindia.com.</p>
        
        <div class="h2 pt-3">What personal information we have a tendency to collect and why we have a tendency to collect it</div>
        
        <div class="h4 pt-3">Comments</div>
        <p class="lead">When guests leave comments on the location we have a tendency to collect the info shown within the comments kind, and additionally, the visitor’s information processing address and browser user agent string to assist spam detection.</p>
        <p class="lead">An anonymized string created from your email address (also referred to as a hash) could also be provided to the Gravatar service to visualize if you're mistreatment it. The Gravatar service privacy policy is accessible here: https://automattic.com/privacy/. when approval of your comment, your profile image is visible to the overall public inside the context of your comment.</p>
        
        <div class="h4 pt-3">Contact Forms</div>
        <p class="lead">All the data that have been submitting from you, is stored safe and secure for further use. We do not sell your data to gain any kind of profit from the market. All the fields inserted in contact forms are required to fill, to make a connection between our client and us. We further use your contact information to reach you.</p>

        <div class="h4 pt-3">Cookies</div>
        <p class="lead">If you permit a treat our web site you'll opt-in to saving your name, email address, and web site in cookies. These are for your convenience so you are doing not need to fill in your details once more after you leave another comment. These cookies can last long for one year.</p>
        <p class="lead">If you visit our login page, we are going to set a short-lived cookie to work out if your browser accepts cookies. This cookie contains no personal data and is discarded when you shut your browser.</p>
        <p class="lead">When you log in, we are going to additionally establish many cookies to save lots of your login data and your screen show selections. Login cookies last for 2 days, and screen selections cookies last for a year. If you decide on "Remember Me", your login can persist for 2 weeks. If you exit your account, the login cookies are removed.</p>
        <p class="lead">If you edit or publish writing, an extra cookie is saved in your browser. This cookie includes no personal information and easily indicates the post ID of the article you simply altered. It expires when one day.
        </p>

        <div class="h4 pt-3">Embedded Content From Different Websites</div>
        <p class="lead">Articles on this information processing system may embrace embedded content (e.g. videos, images, articles, etc.). Embedded content from different web sites behaves within the very same method as if the visitant has visited the opposite website.</p>
        <p class="lead">These websites might collect information regarding you, use cookies, infix extra third-party chase, and monitor your interaction thereupon embedded content, as well as chase your interaction with the embedded content if you have got an associate account and are logged in to its web site.</p>

        <div class="h4 pt-3">Analytics</div>
        <p class="lead">All the user information that we received from user forms, we do not perform any kind of analytics or market research to gain profit for our organization. All the data that we stored is safe and secure from our side until you don't share your password with anyone. Some third-party companies are always ready to steal your important and personal information and make their profit by selling your details in the market.</p>

        <div class="h2 pt-3">Who We Have Tendency To Share Your Information With</div>
        <p class="lead">As an organization, DG InfoTech does not share its trusty customer's information with anyone and in any condition. It's our responsibility to keep your details safe and secure from third parties. We ensures you that your information is in safe hands.</p>

        <div class="h2 pt-3">How Long We Have A Tendency To Retain Your Information</div>
        <p class="lead">If you permit a comment, the comment and its data are preserved indefinitely. this can be thus we will acknowledge and approve any follow-up comments mechanically rather than holding them during a moderation queue.</p>
        <p class="lead">For users that register on our web site (if any), we have a tendency to additionally store the private data they supply in their user profile. All users will see, edit, or delete their personal data at any time (except they can't amendment their username). web site directors may see and edit that data.
        </p>

        <div class="h2 pt-3">What Rights You Have Got Over Your Information</div>
        <p class="lead">If you have got an associate account on this web site, or have left comments, you'll request to receive an associate exported file of the private information we have a tendency to hold regarding you, as well as any information you have got provided to North American nation. you'll additionally request that we have a tendency to erase any personal information we have a tendency to hold regarding you. This doesn't embrace any information we have a tendency to are duty-bound to stay for body, legal, or security functions.</p>

        <div class="h2 pt-3">Where We Have A Tendency To Send Your Information</div>
        <p class="lead">Visitor comments could also be checked through an automatic spam detection service.</p>

        <div class="h2 pt-3">Your Contact Data</div>
        <p class="lead">We collect your contact data like your email address, mobile number and address to reach you in case of any emergency or deliver you your product which you buy from us. We do not share your contact data with third parties or in the market to get additional profit. Your contact data is in safe hands.</p>

        <div class="h2 pt-3">Additional Data</div>
        <div class="h4 pt-3">How we have a tendency to defend your information</div>
        <p class="lead">As a trusted organization, DG InfoTech will never sell your information to third parties to gain profit, and if we found anyone who is stealing someone information will face legal actions from our side.</p>
        
    </div>
</div>