<div class="main-header pt-5 peach-gradient d-flex align-items-center">
    <div class="container">
        <h1 class="text-center animated bounce text-white">Perfect Website That Suits Every Business</h1>
    </div>
</div>
<div class="container p-5">
    <div class="row">
        <div class="col-md-6 py-1">
            <img src="assets/img/web_design_sajtweb.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 py-1 text-justify">
            <p>Having a website for your business ( small or big ) makes it professional to others when they visit it. And for any IT business, it is recommended to have your own business website so that your new customer can trust your service because it sets the first impression. Vlive InfoTech delivers a brand new website for every business for instance: E-commerce website,
                infopreneur website, educational website, a media website, wiki or community forum website, business website, entertainment website, portfolio website, brochure website, a non-profit website, personal website, web portal website, etc. These website suits every business related to industry and makes your business look professional.</p>
            <p>Why website are important to your business :</p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6 py-1 text-justify">
            <div class="h6">1. First Impression is the Last Impression</div>
            <p>Whenever your targeted audience visits your business website, they will feel like – yes, this is the right place for service. Your audience will judge your service and your business with your business website. And at that time if you don’t have your business website your targeted audience will think that you don’t have your own website what you will serve us.
                This will give a negative impact on your new customers.</p>
        </div>
        <div class="col-md-6 py-1">
            <img src="assets/img/Untitled-design-45.jpeg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6 py-1">
            <img src="assets/img/Web-Design-Optimise-SEO.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 py-1 text-justify">
            <div class="h6">2. Rank your business with google SEO strategy</div>
            <p>In your business website, a large number of elements, images, and contents are fitted together to form a webpage. But if your on-page SEO functions are not active, then your business website will fight to visible online against all the available business website. The search engine looks for an SEO-friendly content on your website and ranks your website among all the available website. If your website have not enough google ranking then your website is just a dump. Here, Vlive InfoTech delivers your business website with full optimized and SEO
                friendly content. It will help your website to gain enough search engine ranking to visible online.</p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-md-6 py-1 text-justify">
            <div class="h6">3. Building Trust With Your Audience</div>
            <p>Your audience will not trust your service until you don’t show them your professionalism. To make your business more professional we highly recommended building your website with Vlive InfoTech. Here, we offer a variety of websites that suits our customer’s need properly. The more trust you gain from your audience the more money will you make from your business.</p>
        </div>
        <div class="col-md-6 py-1">
            <img src="assets/img/audience.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>