<div class="main-header pt-5 peach-gradient d-flex align-items-center">
    <div class="container">
        <h1 class="text-center animated bounce text-white display-4">About Us</h1>
    </div>
</div>

<!-- ####################           OUR MISSION           #####################  -->
<div class="container-fluid about-us-header">
    <div class="jumbotron" style="background: none;">
        <h1 class="pt-5">Our Mission</h1>
        <hr style="width: 10rem; text-align:left;margin-left:0; background-color: #A0722A; height: 1px;">
        <p class="lead pt-3 text-wrap w-75">At DG InfoTech, we put client satisfaction at the center of everything we do.</p>
        <!-- <p class="text-wrap w-75">DG Info Services Private Limited is dynamic, reliable and
            truly professional company.</p>
        <p class="text-wrap w-75">We always strive to get our
            customers to be fully satisfied not only by developing high- quality solutions within prescribed time and budget.</p> -->
    </div>
</div>

<!-- ####################           WHO WE ARE           #####################  -->
<div class="container py-5">
    <div class="display-4 text-center">Who We Are</div>
    <hr style="width: 10rem; height: 1px; background-color: #FBBA00;">
    <div class="lead pt-5"><span class="font-weight-bold">DG InfoTech Private Limited</span> is dynamic, reliable and
        truly professional company. We always strive to get our
        customers to be fully satisfied not only by developing high- quality solutions within prescribed time and budget, but by
        full involvement into projects working together with our
        customers to make the business success of their projects.</div>
    <div class="lead pt-3 pb-5">
        Professional Development, Professional Management, Fast Coding, Testing and Bug Fixing, Documentation. Best Service, Fast Response, Full Time Availability, Best Quality, And List Goes On.
        Always Ready For You, Just Message Us.
    </div>
</div>

<!-- ####################          OUR VALUES           #####################  -->
<div class="" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3">
                <h2 class="pt-3">Our values</h2>
                <hr style="width: 8rem; text-align: left; margin-left: 0; background-color: #FBBA00; height: 1px;">
            </div>
            <div class="col-md-3 py-1">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <span><i class="p-3 rounded fa fa-book-reader" style="font-size: 25px; color: white; background-color:  #FBBA00;"></i></span>
                        <h6 class="py-3">Empathy</h6>
                        <p class="text-muted">Empathize with your peer and customers by communicating charity. Supporting each other, and doing a right thing</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-1">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <span><i class="p-3 rounded fa fa-trophy" style="font-size: 25px; color: white; background-color:  #FBBA00;"></i></span>
                        <h6 class="py-3">Strength</h6>
                        <p class="text-muted">Strong employee attitudes, excellent customer service, personal relationships with customers</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 py-1">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <span><i class="p-3 rounded fa fa-award" style="font-size: 25px; color: white; background-color:  #FBBA00;"></i></span>
                        <h6 class="py-3">Power</h6>
                        <p class="text-muted">Leadership in product innovation, highly efficient, low-cost manufacturing, high integrity, product availability</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ####################          LEADERSHIP           #####################  -->
<div class="jumbotron mb-0 bg-light" id="img">
    <div class="display-4 text-center">
        Leadership
    </div>
    <hr style="width: 10rem; height: 1px; background-color: #FBBA00;">
    <div class="row pt-5">
        <div class="col-md-3 mx-auto">
            <div class="card border-0 rounded shadow-sm">
                <img src="../../../assets/img/sandeep.png" alt="" class="card-img-top w-100">
                <div class="card-body">
                    <p class="lead text-muted">Mr. Sandeep Sharma</p>
                    <p class="h6">Founder & CEO of DG InfoTech</p>
                </div>
            </div>
        </div>
    </div>
</div>
